@namespace Frontend.Components

<div class="w-full h-[100px] bg-neutral-300 shadow-[0_-2px_6px_-1px_rgb(0,0,0,0.1)] fixed bottom-0 left-0 grid">
    <p class="place-self-center text-xl font-medium">0 lei</p>
</div>

@*
    TODO:
        Create necessary parameters, services or methods to correctly display and update total price.
        Ensure the footer is 'responsive'. It must adapt to different screen sizes.
*@

@code
{

}